<p>Dear Admin/Supervisor <%= @channel.nama  %></p>

<p>Berikut ini kami sampaikan hak akses login untuk dapat menggunakan program Point of Sales</p>
<p>Link: classicspringbed.com:1107</p>
<p>Username: <%= @username %></p>
<p>Password: <%= @password %></p>

<p>Thanks<p>