<h3>Pemberitahuan</h3>

<h4>Kami beritahukan kepada seluruh Supervisor & Produk Konsultan Showroom & Pameran, bahwa mulai bulan Oktober 2015
  terdapat beberapa perubahan/aturan dalam menggunakan program Point Of Sales. Berikut Detailnya:</h4>
<ol>
  <li style="font-size:16px">Retur barang sudah bisa dibatalkan dan juga dikirimkan ke bagian Admin Gudang dengan syarat Nama admin tersebut telah didaftarkan di program Point Of Sales.</li>
  <li style="font-size:16px">Saat input order, WAJIB mengisi kolom harga per barang setelah diskon. Kecuali BONUS.</li>
  <li style="font-size:16px">Pencarian barang saat input order akan dihilangkan dan diganti dengan cara mengetikkan nama barang di kolom nama barang. (Sama persis saat input serial/barcode)</li>
  <li style="font-size:16px">Total Netto SO tidak perlu diinput, program akan mengkalkulasikan dari inputan harga barang-barang yang telah diinput.</li>
  <li style="font-size:16px">Total Netto per Brand tidak perlu diinput, program akan mengkalkulasikan dari inputan harga barang-barang yang telah diinput.</li>
  <li style="font-size:16px">Bagi Supervisor, diharapkan menyerahkan data clearance sale yang ada di program Point Of Sales agar barang-barang CS dapat ditransaksikan secepatnya.</li>
</ol>
<br />
<h4>Demikian informasi yang dapat kami sampaikan, untuk teknis nya silahkan download manual book yang telah kami update di pojok kanan bawah program ini.</h4>
<br />
<h4>Terima Kasih. IT</h4>