<div class="ui-grid-b">
  <div class="ui-btn ui-shadow ui-corner-all ui-icon-arrow-u ui-btn-icon-edit">
    <%= link_to "Bank Accouts", bank_accounts_path, 'data-no-turbolink' => true %>
  </div>
  <div class="ui-btn ui-shadow ui-corner-all ui-icon-arrow-u ui-btn-icon-edit">
    <%= link_to "Sales Counters", sales_counters_path %>
  </div>
  <div class="ui-btn ui-shadow ui-corner-all ui-icon-arrow-u ui-btn-icon-edit">
    <%= link_to "Channel Customers", channel_customers_path %>
  </div>
</div><!-- /grid-b -->