<div class="row-fluid">
  <div class="col-md-3" style="float: right;">
  </div>
  <div class="span12">
    <div class="offset3" style=" padding-top: 90px; ">
      <div class="block-content collapse in">
        <%= render "announcement" %>
      </div>
    </div>
  </div>
</div>