<div class="row-fluid">
  <div class="col-md-3" style="float: right;">
    <p>Butuh Buku Manual? <%= link_to 'Download', page_download_manual_book_path(format: 'pdf'), class: "link_download" %></p>
  </div>
  <div class="span12">
    <div class="offset3" style=" padding-top: 100px; ">
      <div class="block-content collapse in">
      </div>
    </div>
  </div>
</div>