<div class="row-fluid">
  <div class="col-md-3" style="float: right;">
  </div>
  <div class="span12">
    <div class="offset3" style=" padding-top: 100px; ">
      <div class="block-content collapse in">
        <% if current_user.channel_customer.id == 7 %>

          Dear, PRJ ELITE. <br /><br />

          <ul>
            <li>Perihal barang-barang yang kemarin diinput oleh bu Desi, sudah kami bantu perbaiki dan tidak perlu diinput ulang. Silahkan lanjutkan input order.</li>
            <li>Cek No Invoice DR7EE19B916 dengan so manual 010010, apakah invoice tersebut benar-benar bukan invoice take away?
              Jika iya, biarkan. Jika tidak, batal kan order tersebut, dan buat kembali. "Jangan di edit"</li>
            <li>Tolong perhatikan kembali kolom yang wajib diinput, seperti pembayaran, netto lai/elite, taken/take away dan serial/barcode</li>
          </ul>

          Kami mohon maaf atas adanya kendala program kemarin. <br /><br />

          Thanks.<br />

          IT Departement
        <% end %>
      </div>
    </div>
  </div>
</div>