<%= form_tag ({:controller => "showrooms", :action => "proses_import_intransit"}), enctype: "multipart/form-data", method: :post do %>
  <div class="row">
    <%= file_field_tag "stock_items", multipart: true %>
  </div>
  <%= submit_tag "Upload", class: "btn btn-primary" %>
<% end %>