<div class="row">
  <div class="col-md-offset-4 col-md-3">
    <div class="form-login">
      <h4>Point Of Sales</h4>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :username, required: false, autofocus: true, input_html: {class: "field-control"} %>
        <%= f.input :password, required: false %>
        <div class="wrapper">
          <span class="group-btn">
            <button class="btn btn-primary btn-md" type="submit">Login<i class="fa fa-sign-in"></i></button>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>