<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>
<br />

<span>Admin: admin_pos@ras.co.id;</span> <span>adminposras</span><br />
<span>Supervisor: fulan@ras.co.id;</span> <span>ful510DA</span><br />
<span>SPG: Rini@ras.co.id;</span> <span>Rin2E501</span><br />
<span>SPG: Rina@ras.co.id;</span> <span>Rin9A780</span>
