.puc {
  width: 250px;
  padding-bottom: 10px;
}
.error {
   color: red;
   font-size: 14px;
}

.nested_inline_form {
  width: 150px;
  margin: 0 30px 5px 0;
  font-size: 11px;
}

.nested_inline_form_item {
  width: 40px;
  margin: 0 30px 50px 0;
  font-size: 11px;
}

.nested_sale_item {
  width: 100px;
}
