<footer class="footer">
  <div class="navbar-default navbar-fixed-bottom">
  <p class="copyright-footer">&copy; Royal Abadi Sejahtera 2015</p>
  <p class="manual-footer">Butuh Buku Manual? <%= link_to 'Download',
      page_download_manual_book_path(format: 'pdf'), class: "link_download" %></p>
  </div>
</footer>
